@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./scrollStyles.scss";

body {
  @apply bg-black text-black box-border overflow-x-hidden;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


