@import './mixins.scss';


/* WebKit-based browsers (Chrome, Safari, Opera, etc.) */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    @apply bg-primaryDark;
}    

::-webkit-scrollbar-thumb {
    @apply bg-primary-1/2;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-primaryMid; 
}

/* Mozilla Firefox */
scrollbar {
    width: 10px;
    height: 10px;
}

scrollbar-track {
    @apply bg-primaryDark; 
}

scrollbar-thumb {
    @apply bg-primary-1/2;
    border-radius: 25px;
}

scrollbar-thumb:hover {
    @apply bg-primary-1; 
}

